@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
}
:root {
  /* font size */
  --fs-xsm: 14px;
  --fs-sm: 16px;
  --fs-md: 24px;
  --fs-lg: 32px;
  --fs-2lg: 40px;
  --fs-xl: 48px;
  --fs-xxl: 54px;
  /* color */
  --clr-white: #fbfbfb;
  --clr-blue: #3ea5ee;
  --clr-moreblue: #33a7f9;
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_xxl {
  font-size: var(--fs-xxl);
}
.fs_2lg {
  font-size: var(--fs-2lg);
}
/* color */
.clr_white {
  color: var(--clr-white);
}
.clr_blue {
  color: var(--clr-blue);
}
.clr_moreblue {
  color: var(--clr-moreblue);
}
.ff_raleway {
  font-family: "Raleway", sans-serif;
}
.fw_400 {
  font-weight: 400 !important;
}
.hero_bg {
  background-image: url(../images/png/herobg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.op_06 {
  opacity: 0.699999988079071;
}

.bg_blue {
  background-color: var(--clr-moreblue);
  border: 2px solid var(--clr-moreblue);
  border-radius: 100px;
}
.py_18 {
  padding-top: 18px;
  padding-bottom: 18px;
}
.px_32 {
  padding-left: 32px;
  padding-right: 32px;
}
.ms_32 {
  margin-left: 32px;
}
.nav_bg {
  background: rgba(2, 2, 2, 0.1);
  backdrop-filter: blur(5.5px);
}
.mx_792 {
  max-width: 792px;
}
.font_italic {
  font-style: italic;
}
.bg_blur {
  border-radius: 10px;
  background: rgba(51, 167, 249, 0.06);
}
.lh_170 {
  line-height: 190%;
}
.blur_1_set {
  left: 2%;
  top: 0;
}
.br_rdc_20 {
  border-radius: 20px;
}
.w_100 {
  width: 100%;
}
.box_bg {
  background-image: url(../images/png/box_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* min-height: 80vh; */
}
.blur_box {
  height: 71px;
  width: 71px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 100px;
}
.bg_blur_card {
  border-radius: 10px;
  background: rgba(51, 167, 249, 0.06);
  backdrop-filter: blur(10px);
}
.blur_shadow {
  background: linear-gradient(#00000000, #000000b7, #000000);
  height: 80px;
  width: 100%;
  position: relative;
  top: -10px;
}
.blur_up_shadow {
  background: linear-gradient(#000000, #000000ba, #00000000);
  height: 30px;
  width: 100%;
}
.mx_580 {
  max-width: 580px;
}
.bg_gray {
  border-radius: 12px;
  background: #1d2123;
  border: 2px solid #1d2123;
}
.wallet_set {
  top: -23px;
  left: 20%;
}
.shadow {
  border-radius: 12px;
  background: #33a7f9;
  box-shadow: 0px 0px 42px 0px rgba(51, 167, 249, 0.5);
}
.low_blur_set {
  top: -60%;
  width: 40%;
}
.z_50 {
  z-index: 50 !important;
}
.mt_m1 {
  margin-top: -1px;
}
.gray_back {
  border-radius: 12px;
  border: 1px solid rgba(51, 167, 249, 0.18);
  background: rgba(51, 167, 249, 0.1);
}
.p_32 {
  padding: 32px;
}
.edit_input input {
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(16px);
  border: 0;
  outline: none;
  width: 100%;
  padding-left: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#textarea {
  width: 100%;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(16px);
  border: 0;
  padding-top: 22px;
  padding-left: 14px;
}
.w_3 {
  width: 3% !important;
}
.input_blur {
  top: -12%;
  left: 7%;
}
.foot_bg {
  background: #030a0f;
}
.gray_line {
  background: #e2e8f0;
  height: 3px;
}
.btn_hovr {
  transition: all 0.3s linear;
}
.btn_hovr:hover {
  background-color: white;
  color: #33a7f9 !important;
}
.nav_underline:hover .clr_hovr_chng {
  color: #33a7f9 !important;
}
.nav_underline {
  position: relative;
}
.nav_underline::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 0;
  background-color: #33a7f9;
  border-radius: 24px;
  bottom: -4%;
  transition: all 0.3s linear;
}
.nav_underline:hover::before {
  width: 100%;
}
.crsr_pointer {
  cursor: pointer;
}
.z-5 {
  z-index: 500 !important;
}
.enable_blur_set {
  top: -60%;
  width: 30%;
}
.scale_hovr {
  transition: all 0.3s linear;
}
.scale_hovr:hover {
  transform: translateY(-10px);
}
.bg-black {
  background-color: #000000 !important;
}
.accordion-button {
  background: #000000;
}
.accordion {
  background-color: #000000 !important;
  --bs-accordion-btn-focus-border-color: none !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
}
.accordion-header {
  background-color: black !important;
  border-radius: 20px !important;
}
.accordion-body {
  background-color: transparent !important;
  padding-left: 8px !important;
  padding-right: 50px !important;
  font-family: "Raleway" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: var(--fs-sm) !important;
  line-height: 169% !important;
  color: #ffffff !important;
  opacity: 0.7 !important;
}
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: unset !important;
}
.accordion-item:hover {
  border: 2px solid rgba(51, 167, 249, 0.4) !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.accordion-item {
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border: none !important;
  border: 2px solid #363636 !important;
  background-color: #000000 !important;
  padding-left: 10px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.accordion-button {
  color: var(--clr-white) !important;
  background-color: transparent !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-bottom: 0 !important;
  color: var(--white, #fbfbfb);
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.accordion-button:focus {
  border: 0 !important;
  box-shadow: unset !important;
  outline: 0 !important;
}
.accordion-button.collapsed {
  padding: 20px 8px !important;
}
.accordion-button::after {
  content: url(../images/svg/arrow.svg) !important;
  background-image: unset !important;
  transform: rotate(180deg);
  right: 16px !important;
}
.accordion-button:not(.collapsed)::after {
  transform: rotate(0deg) !important;
}
.before_shine {
  position: relative;
}
.before_shine::before {
  content: "";
  position: absolute;
  height: 600px;
  width: 10px;
  background-color: #ffffff;
  filter: blur(20px);
  transform: rotate(-45deg);
  top: 80%;
  transition: all 0.4s linear;
}
.before_shine:hover::before {
  top: -160%;
}
.blr_box {
  max-width: 341px;
  height: 96px;
  border-radius: 10px;
  border: 1px solid rgba(51, 167, 249, 0.2);
  background: rgba(51, 167, 249, 0.1);
  backdrop-filter: blur(5px);
  top: -50%;
  left: 5%;
}
.w_64 {
  width: 65%;
}
.small_img_size {
  width: 80px;
}
.freeze_position {
  top: 16%;
}
.stove_position {
  top: 59%;
  left: -4%;
}
.ac_position {
  top: 74%;
  left: 5%;
}
.camera_position {
  left: 39%;
  top: 14%;
}
.plate_position {
  bottom: 4%;
  left: 34%;
}
.tv_position {
  left: 58%;
  top: 7%;
}
.phone_position {
  left: 52%;
  bottom: 31%;
}
.small_img_plate {
  width: 150px;
}
.washing_position {
  left: 63%;
  bottom: 6%;
}
.light_position {
  right: 0%;
  top: -3%;
}
.stove2_position {
  right: 0%;
  top: 50%;
}
.cameralight_position {
  right: 0;
  bottom: 5%;
}
.animat_freeze {
  animation: freeze 3s linear 0.2s infinite forwards;
}
.animate_stove {
  animation: stove 3s linear 0.2s infinite forwards;
}
.animat_phone {
  animation: phone 3s linear 0.2s infinite forwards;
}
.top_blr2_set {
  top: 50%;
  width: 30%;
}
.scal_img {
  transition: all 0.2s linear;
}
.scal_img:hover {
  transform: scale(1.3);
}
@keyframes freeze {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes stove {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes phone {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@media (min-width: 576px) {
  .position_sm_relative {
    position: relative;
  }
}
@media (max-width: 1400px) {
  .blur_box {
    height: 50px;
    width: 71px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 100px;
  }
  .w_xxl_35 {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .mobile_ul {
    position: absolute;
    width: 100%;
    left: 0;
    margin: 0 !important;
    top: 100px;
    left: -100%;
    height: 100vh;
    transition: all 0.4s;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    z-index: 5000 !important;
  }
  #checked:checked + ul {
    left: 0;
    position: fixed !important;
  }
  /* .op_0 {
    left: -100%;
  }
  .op_up {
    left: 0;
  } */
  .ms_md_0 {
    margin-left: 0 !important;
  }
  .nav_icon1 {
    width: 35px;
    height: 3px;
    background-color: white;
    border-radius: 24px;
  }
  .nav_icon2 {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-left: auto;
    border-radius: 24px;
    margin-top: 7px;
  }
  .nav_icon3 {
    width: 35px;
    height: 3px;
    background-color: white;
    margin-left: auto;
    border-radius: 24px;
    margin-top: 7px;
  }
  .show {
    opacity: 1;
    pointer-events: auto;
  }
  .blur_box {
    height: 60px;
  }
  .blr_box {
    left: 0;
  }
}
@media (max-width: 576px) {
  :root {
    --fs-xsm: 14px;
    --fs-sm: 15px;
    --fs-md: 22px;
    --fs-lg: 32px;
    --fs-2lg: 40px;
    --fs-xl: 34px;
    --fs-xxl: 41px;
  }
  .w_xs_80 {
    width: 80% !important;
  }
  .l_xs_10 {
    left: 10%;
  }
  .pl_xs_20 {
    padding-left: 20px !important;
  }
  .blur_box {
    height: 50px;
    width: 55px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 100px;
  }
  .w_xs_45 {
    width: 45% !important;
  }
  .accordion-button {
    font-size: 17px !important;
    padding-right: 20px !important;
  }
  .light_position {
    top: 1%;
  }
  .phone_position {
    left: 28%;
    bottom: 24%;
  }
  .top_blr2_set {
    width: 70%;
  }
}
